.inputsForm {

  color: #707070;
  margin-top: 2rem;
  border-radius: 2rem;
  height: 70%;
  width: 25rem;
  align-items: flex-end;
} 

#genero {
  margin-top: 2rem;
  border-radius: 2rem;
  height: 35%;
}

fieldset {
  font-size: 5rem;
  margin-top: 2.5%;
  padding: 2%;
  border-style: double;
  border-width: medium;
  border-color: #ff8c00;
}

form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin-bottom: 2rem;
}

#mensagem {
  text-align: center;
}

.btn {
  color: #707070;
  background: #ff8c00;
  border-radius: 3rem;
  font-size: 2rem;
  width: 11rem;
}

#botoesForm {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#msg {
  border-radius: 3rem;
}

#dataNasc {
  height: 35%;
}

#btn1 {
  height: 35%;
  width: 8rem;
}

#banner {
  margin: auto;
  margin-top: 3rem;
  width: 100%;
  height: 330px;
  border: 1px solid black;
  background-size: cover;
}

#btnAnte,
#btnProx {
  line-height: 200px;
  font-size: 30px;
  color: rgb(0, 0, 0, 5);
  cursor: pointer;
  font-weight: bold;
}

#btnAnte {
  float: left;
  margin-top: 6rem;
}

#btnProx {
  float: right;
  margin-top: 6rem;
}

#botoes {
  position: absolute;
  top: 250px;
  left: 50%;
}

#login{
  /* display: none; */
  height: 20rem;
  width:50rem;
  background-color: #ff8c00;
  font-size: 4rem;
  text-align: center;
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1rem;
  opacity: 0.6;
 
}
#apareceLogin{
  display:none;
  margin-top: 2rem;
}
#fecharLogin{
  color: white;
  background-color: #707070;
  border-radius: 2rem;
  height: 5rem;
  width: 30rem;
}


