#nomeInput{
    color:#70707065;
}

#endereco{
    font-size: 1em;
    padding-top: 0.5em;
}
#cepform{
    font-size: 1em;
    padding-top: 0.4em;
}
#nascData{
    padding-top: 0.5em;
}
#genero{
    padding-top: 0.5em;
}
