<<<<<<< Updated upstream
#nomeInput{
    color:#70707065;
=======
.inputsForm {
  color: #707070;
  margin-top: 2rem;
  border-radius: 2rem;
  height: 70%;
  width: 25rem;
  align-items:flex-end;
>>>>>>> Stashed changes
}

#endereco{
    font-size: 1em;
    padding-top: 0.5em;
}
#cepform{
    font-size: 1em;
    padding-top: 0.4em;
}
#nascData{
    padding-top: 0.5em;
}
#genero{
    padding-top: 0.5em;
}
