/* COMUM A TODAS AS PÁGINAS */

/* DECLARAÇÕES GLOBAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode';
  /* conversão do font-size para 10px, mais fácil de lidar no responsivo */
  font-size: 62.5%;
}

:root {
  /* paleta de cores */
  --colorOrange: #ff8c00;
  --colorGrey: #707070;
}

body {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 1700px;
  width: 100vw;
  font-size: 1.6rem;
  background-color: var(--colorGrey);
  color: aliceblue;
}

a {
  text-decoration: none;
  color: var(--colorOrange);
  cursor: pointer;
  transition: 1s;
}

a:hover {
  color: aliceblue;
  text-decoration: underline;
  cursor: pointer;
}

#logotipo {
  width: 200px;
}

header {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-row: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 160px;
}

nav ul li {
  list-style: none;
  font-size: 5rem;
}

hr {
  border: 3px solid var(--colorOrange);
}

.mainSection {
  margin-top: 7rem;
}

/* PAGINA INDEX */

#apresentacao {
  height: 600px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: 100%;
  text-align: center;
  margin-top: 200px;
}

#apresentacao h1,
span {
  font-size: 9rem;
  /* coloquei uma cor clara aleatoria */
  color: aliceblue;
  text-align: left;
}
h1 {
  font-size: 9rem;
}

#apresentacao figure img {
  width: 85%;
  box-shadow: 25px 25px 10px var(--colorOrange);
}

<<<<<<< Updated upstream
fieldset {
  font-size: 4rem;
  margin-top: 2.5%;
  padding: 2%;
}

=======
>>>>>>> Stashed changes
#meta p {
  padding: 1.5rem;
  text-align: justify;
  text-indent: 3rem;
}

#sobre h2 {
  text-align: right;
}

#sobreDiv {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: 100% 100%;
}

section h2 {
  width: 100%;
  font-size: 4rem;
}
section p {
  font-size: 2.4rem;
}

.card {
  padding: 2%;
}
.card div {
  margin: 1.5rem 0 1.5rem;

  display: flex;
  justify-content: center;
}

.card p {
  padding: 1.5rem;
  text-align: justify;
}

section .card h3 {
  font-size: 3rem;
}

section .card #fotinhaAlice {
  background-image: url('../img/nickAlice.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 0.5rem solid var(--colorOrange);
  width: 250px;
  height: 250px;
}
section .card #fotinhaCarol {
  background-image: url('../img/nickCarol.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 0.5rem solid var(--colorOrange);
  width: 250px;
  height: 250px;
}
section .card #fotinhaEinsten {
  background-image: url('../img/nickEinsten.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 0.5rem solid var(--colorOrange);
  width: 250px;
  height: 250px;
}
section .card #fotinhaRauny {
  background-image: url('../img/nickRauny.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 0.5rem solid var(--colorOrange);
  width: 250px;
  height: 250px;
}

#institucionalDiv {
  display: flex;
  justify-content: space-around;
}

/* ESTILIZAÇÃO ICONE DO FOOTER */

.icon-assistant_photo_black_24dp,
.icon-travel_explore_black_24dp,
.icon-auto_awesome_black_24dp {
  font-size: 8rem;
  color: var(--colorOrange);
}

footer {
  text-align: center;
}

footer div {
  display: flex;
  justify-content: space-around;
}
footer div nav {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

footer div section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

footer a,
address,
p {
  padding: 2rem;
  font-size: 2rem;
}

footer section a:hover {
  text-decoration: none;
}

/* section .card p {
  font-size: 2.4rem;
} */
/* @media screen and (max-width: 750px) {
  nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row: 100%;
  }
} */

/* PÁGINA CALCULADORA */
#apareceCalculadora {
  display: none;
  width: 100vw;
  height: 50vh;
  background-color: var(--colorGrey);
  position: static;
  margin: 10% 20% 10% 30%;
}
#calculadora {
  width: 450px;
  height: 430px;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: #999898;
  border: 5px groove #ff8c00;
  border-radius: 3rem;
}

#mostrarResultados {
  margin: auto;
  text-align: right;
  width: 25rem;
  height: 7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#digitos {
  margin: auto;
  display: grid;
  grid-template-columns: 10rem 10rem 10rem 10rem;
  grid-template-rows: 5rem 5rem 5rem 5rem 5rem 5rem;
  font-size: 4rem;
}
#num0 {
  grid-column: 1/3;
}

.cientifica,
.normal,
#mostrarResultados {
  color: aliceblue;
  background-color: #707070;
  border: 3px groove #ff8c00;
  border-radius: 2rem;
}

.icon-add_circle_outline_black_24dp {
  cursor: pointer;
  font-size: 2.5rem;
}

/* RESPONSIVO */

@media (max-width: 1024px) {
  body {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 700px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
